.new{
    width: 100%;
    display: flex;

    .userCont{
        flex: 6;

        .top,.bottom{
            --webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
            box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
            padding: 20px;
            margin: 20px;
            display: flex;

            h1{
                color:lightgray;
                font-size: 20px;
            }

            .right{
                flex: 2;

                .form{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    flex-direction: column;
                    .wrap{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .formInput{
                            margin: 10px;
                            width: 40%;

                        label{
                            display: flex;
                            align-items: center;
                            gap: 10px;


                            .icon{
                                cursor: pointer;
                            }
                        }
                        
                        input{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }

                        select{
                            width: 100%;
                            padding: 5px;
                            border: none;
                            border-bottom: 1px solid gray;
                        }
                    }
                    
                }
                    button{
                        margin: 0 auto;
                        width: 150px;
                        padding: 10px;
                        border: none;
                        background-color: teal;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                        margin-top: 10px;
                    }
                }
            }
        }


    }
}